<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ex1">
            <file>tests/Unit/Creational/Exercice1Test.php</file>
        </testsuite>
        <testsuite name="ex2">
            <file>tests/Unit/Creational/Exercice2Test.php</file>
        </testsuite>
        <testsuite name="ex3">
            <file>tests/Unit/Creational/Exercice3Test.php</file>
        </testsuite>
        <testsuite name="ex4">
            <file>tests/Unit/Structural/Exercice4Test.php</file>
        </testsuite>
        <testsuite name="ex5">
            <file>tests/Unit/Structural/Exercice5Test.php</file>
        </testsuite>
        <testsuite name="ex6">
            <file>tests/Unit/Structural/Exercice6Test.php</file>
        </testsuite>
        <testsuite name="ex7">
            <file>tests/Unit/Structural/Exercice7Test.php</file>
        </testsuite>
        <testsuite name="ex8">
            <file>tests/Unit/Structural/Exercice8Test.php</file>
        </testsuite>
        <testsuite name="ex9">
            <file>tests/Unit/Behavioral/Exercice9Test.php</file>
        </testsuite>
        <testsuite name="ex10">
            <file>tests/Unit/Behavioral/Exercice10Test.php</file>
        </testsuite>
        <testsuite name="TheGildedRose">
            <directory>tests/Unit/TheGildedRose</directory>
        </testsuite>
    </testsuites>
</phpunit>
